<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
  <title>Проверить результаты ЕГЭ / Официальный информационный портал единого государственного экзамена (ЕГЭ 2014)</title>
<link rel="icon" href="/common/img/ege_new/favicon_ege.gif" type="ico">

<link rel="stylesheet" type="text/css" href="/common/css/style_ege_new.css" media="all">
<script type="text/javascript" src="/common/js/mootools.js"></script>
<script type="text/javascript" src="/common/js/jquery.js"></script>
<script type="text/javascript" src="/common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/common/js/ege_new.js"></script>
<script type="text/javascript" src="/common/js/ege_second.js"></script>
<script type="text/javascript" src="/common/js/custom-form-elements.js"></script>
<link media="screen" rel="stylesheet" href="/common/css/colorbox.css">
<script type="text/javascript" src="/common/js/jquery.colorbox.js"></script>
</head>
<body id="second" class="EGE">
<div id="content">
  <div class="main_top">
        
  </div>
  <span id="rbccontents_ee_block.1645.CONTENT_TEXT.6.930"></span>

<!--
<div class="logo">
    <a href="/ru/">
        <img class="img1" src="/common/img/ege_new/logo_img.gif">
        <img class="img2" src="/common/img/ege_new/logo_txt_1.gif">
        <img class="img3" src="/common/img/ege_new/logo_txt_2.gif">
    </a>
</div>
-->

<div class="logo_new">
<div class="logo_ico" onclick="location.href='http://ege.edu.ru/'"></div>
<div class="logo_text" onclick="location.href='http://ege.edu.ru/'">
<div class="logo_text1">Официальный информационный портал</div>
<div class="logo_text2">Единого государственного экзамена</div>
</div>


</div>
  
  
  <table class="second_cont_tbl">
    <tr>
      <td class="second_cont_tbl_1"></td>
      <td class="second_cont_tbl_2"><div class="content">           <H1 class="head_ttl">Проверить результаты ЕГЭ</H1>
                    
          <script type="text/javascript" src="/common/js/jquery.maskedinput.js"></script>
<script type="text/javascript" src="/common/js/jquery.numeric.js"></script>

<link type="text/css" href="/common/css/QapTcha.jquery.css" rel="stylesheet">

<script type="text/javascript" src="/common/js/core/translate.js.php?lang=ru"></script>
<script type="text/javascript" src="/common/js/core/check_form.js"></script>
<script type="text/javascript" src="/common/js/core/calendar.js"></script>


<script type="text/javascript" src="/common/js/jquery-ui.js"></script>
<script type="text/javascript" src="/common/js/jquery.ui.touch.js"></script>
<script type="text/javascript" src="/common/js/QapTcha.jquery.js"></script>


<style>
  .error {border-color: #F00 !important;}
  #show_div2, #show_div1 {display:none}
  #show_div1 .red {color:red}
  .button_wa_b {
    width: 100%;
    padding-left: 0xp;
    padding-right: 0xp;
    background: #0071bb;
    font-size: 14px;
    padding: 15px 0px;
  }
  .QapTcha .bgSlider {
    width: 420px !important;
  }
</style>


<div id="show_div1">
  <p><b>Уважаемые участники ЕГЭ!</b></p>
  <p class="red">Доступны для просмотра результаты:<br>
  <ul class="red">
    <li>Досрочный этап (все даты);</li>
    <li>Основной этап (все даты).</li>
  </ul>
  <span class="red">Результаты экзаменов, прошедших 15 июня, ожидаются 26 июня.</span>
  </p>
  <br>
  <p>В&nbsp;2013 году сервис ознакомления с&nbsp;результатами ЕГЭ работает в&nbsp;тестовом режиме. В&nbsp;эксперименте участвуют данные о&nbsp;результатах ЕГЭ участников следующих регионов:</p>
  <ul>
    <li>Амурская обл.</li>
    <li> Архангельская обл.</li>
    <li> Ивановская обл</li>
    <li> Калужская обл</li>
    <li> Коми респ.</li>
    <li> Красноярский край</li>
    <li> Курганская обл</li>
    <li> Московская обл</li>
    <li> Нижегородская обл</li>
    <li> Орловская область</li>
    <li> Ростовская обл</li>
    <li> Свердловская обл</li>
    <li> Тамбовская обл.</li>
    <li> Тульская обл.</li>
    <li> Удмуртская респ.</li>
    <li> Хакасия</li>
    <li> Челябинская обл.</li>
    <li> Чувашия</li>
    <li> Ярославская обл</li>
  </ul>
  <p>Участники ЕГЭ из&nbsp;этих регионов могут попробовать сервис на&nbsp;<a href="http://test-ege.ru/ru/universities-colleges/check_results/">сайте</a>.</p>
  <p>По&nbsp;результатам эксперимента будет принято решение об&nbsp;установке этого сервиса на&nbsp;портале <a href="http://ege.edu.ru/">http://ege.edu.ru</a> <br>
  Обращаем внимание, что поскольку сервис работает в&nbsp;тестовом режиме, на&nbsp;сайте может представлена не&nbsp;вся информация о&nbsp;результатах экзаменов.</p>
</div>


<div id="show_div2">

  <form action='' method='post' name='login'>

  <table class="check_res form_quest_new">
    <tr>
    
    <td class="check_right">
      <div class="field_label">Фамилия</div>
            <input  name='surname' type='text' value='' lang="errors_nonempty_">
        </td>
    </tr>
    <tr>
    
    <td class="check_right">
      <div class="field_label">Имя</div>
            <input name='name' type='text' value='' >
        </td>
    </tr>
    <tr>
    
    <td class="check_right">
      <div class="field_label">Отчество</div>
            <input name='patronymic' type='text' value=''>
        </td>
    </tr>
    <tr>
    
    <td class="check_right">
      <table class="fields_2">
        <tr>
          <td class='fields_td left_field'>
            <div class="field_label">Код регистрации</div>
            <input id="login_code" name='code' type='text' value='' >
          </td>
          <td class='delimeter'>
            или
          </td>
          <td class='fields_td right_field'>
            <div class="field_label">
              Номер документа<br>
              (без серии)
            </div>
            <input maxlength="10" id="login_doc_number" name='doc_number' type='text' value='' >
          </td>
      </table>
    </td>
    <td class="chek16">
      
    </td>
    </tr>
    <tr>
    
    <td class="check_right">
      <div class="field_label">Регион</div>
      
      <select name="region" >
                  
          <option value="0" selected>Выберите регион</option>
          
              </select>
    </td>
    </tr>
   
    <tr>
    <td class="td_right">
        <div id="QapTcha" class="QapTcha"></div>
        <br clear="all">
        <span class="qaptext">Для отправки сообщения необходимо передвинуть ползунок вправо</span>
    </td>
    </tr>
    <tr>
    <td class="check_right">
      <div class="sub-links_btn">
        <input class="button button_wa_b" type="submit" name="submit" value="Войти" disabled="disabled" style="font-size: 14px;padding: 15px 0px;width: 460px;" onclick="return check_login_form();">
      </div>
      
    </td>
    </tr>
  </table>
  <p>
    
  
  </p>
  
  
  <!--div class="look">&nbsp;</div-->
  </form>
  <div class="faq_exam appil_history"><a href="http://ege.edu.ru/ru/universities-colleges/faq/" >Вопросы и ответы по сервису «Результаты ЕГЭ»</a></div>
  <!--p>Фамилия: <input name='surname' type='text' value='' ></p>
  <p>Имя: <input name='name' type='text' value='' ></p>
  <p>Отчество: <input name='patronymic' type='text' value='' ></p>
  <p>Код участника: <input name='code' type='text' value='' ></p>
  <p>Регион:
  <select name="region" >
    <option value="0" selected>Выберите регион</option>
    </select>
  </p>
  <p>
      </p>
  <p><input type="submit" name="submit" value='Отправить'></p-->
</div>
  <script type="text/javascript">
  
    function check_login_form(){
    
      var code = $("input[name='code']").val();
      var valid = true;  
      while(code.indexOf("_")+1){
        code=code.replace("_", "");
      }
      while(code.indexOf("-")+1){
        code=code.replace("-", "");
      }
      if(!$("input[name='surname']").val()){
        $("input[name='surname']").addClass("error");
        valid = false;
      }else{
        $("input[name='surname']").removeClass("error");
      }
      if(!$("input[name='name']").val()){
        $("input[name='name']").addClass("error");
        valid = false;
      }else{
        $("input[name='name']").removeClass("error");
      }
      if(!$("input[name='doc_number']").val() && !code){
        $("input[name='doc_number']").addClass("error");
        valid = false;
      }else{
        $("input[name='doc_number']").removeClass("error");
      }
      if(code.length != 12 && !$("input[name='doc_number']").val()){
        $("input[name='code']").addClass("error");
        valid = false;
      }else{
        $("input[name='code']").removeClass("error");
      }
      //alert(parseInt($("select[name='region']").val()));
      if(!parseInt($("select[name='region']").val())){
        $("select[name='region']").addClass("error");
        valid = false;
      }else{
        $("select[name='region']").removeClass("error");
      }
      /*if(!$("input[name='captcha_value']").val() && !code){
        $("input[name='captcha_value']").addClass("error");
        valid = false;
      }else{
        $("input[name='captcha_value']").removeClass("error");
      }*/
      if(!valid){
        //$('#QapTcha').empty();
        //$('#QapTcha').QapTcha();
        alert("Проверьте правильность заполнения полей.");
      }
      return valid;
      //return CheckForm.validate( sender );
    }
    
    $(document).ready(function(){
       $('#result_ege_text').css('display','block');
      $('h1').text("Результаты ЕГЭ");
      $('form[name="login"] input[name="code"]').mask('9999-9999-9999');
      //$('form[name="login"] input[name="doc_number"]').mask('9999999999');
      $('form[name="login"] input[name="doc_number"]').numeric();
      $('#get_code_id input[name="code"]').mask('9999-9999-9999-9999');
      
      $('#QapTcha').QapTcha();
      
      $("input").keyup(function(){
        var code = $("input[name='code']").val();
        
        while(code.indexOf("_")+1){
          code=code.replace("_", "");
        }
        while(code.indexOf("-")+1){
          code=code.replace("-", "");
        }
        if($("input[name='surname']").val() &&
          $("input[name='name']").val() &&
          //$("input[name='patronymic']").val() &&
          ( ( code && code.length == 12) ||  $("input[name='doc_number']").val()) &&
          parseInt($("select[name='region']").val())
          //&& $("input[name='captcha_value']").val() && $("input[name='captcha_value']").val().length == 5
        ){
          
          //alert(code.length);
          ///$("input[name='submit']").removeAttr("disabled");
          //$("input[name='submit']").css("background", "#0071bb");
        }else{
          //alert(2);
          //$('#QapTcha').empty();
          //$('#QapTcha').QapTcha();
          //$("input[name='submit']").attr("disabled", "disabled");
          //$("input[name='submit']").css("background", "#7da7d8");
        }
      });
      
      $("input").blur(function(){
        var code = $("input[name='code']").val();
        
        while(code.indexOf("_")+1){
          code=code.replace("_", "");
        }
        while(code.indexOf("-")+1){
          code=code.replace("-", "");
        }
        if($("input[name='surname']").val() &&
          $("input[name='name']").val() &&
          //$("input[name='patronymic']").val() &&
          ( ( code && code.length == 12) ||  $("input[name='doc_number']").val()) &&
          parseInt($("select[name='region']").val()) //&&
          //$("input[name='captcha_value']").val() && $("input[name='captcha_value']").val().length == 5
          ){
          
          //alert(code.length);
          //$("input[name='submit']").removeAttr("disabled");
          //$("input[name='submit']").css("background", "#0071bb");
        }else{
          //alert(2);
          //$('#QapTcha').empty();
          //$('#QapTcha').QapTcha();
          //$("input[name='submit']").attr("disabled", "disabled");
          //$("input[name='submit']").css("background", "#7da7d8");
        }
      });
      
      $("input").change(function(){
        var code = $("input[name='code']").val();
        
        while(code.indexOf("_")+1){
          code=code.replace("_", "");
        }
        while(code.indexOf("-")+1){
          code=code.replace("-", "");
        }
        if($("input[name='surname']").val() &&
          $("input[name='name']").val() &&
          //$("input[name='patronymic']").val() &&
          ( ( code && code.length == 12) ||  $("input[name='doc_number']").val()) &&
          parseInt($("select[name='region']").val()) //&&
          //$("input[name='captcha_value']").val() && $("input[name='captcha_value']").val().length == 5
          ){
          
          //alert(code.length);
          //$("input[name='submit']").removeAttr("disabled");
          //$("input[name='submit']").css("background", "#0071bb");
        }else{
          //alert(2);
          //$('#QapTcha').empty();
          //$('#QapTcha').QapTcha();
          //$("input[name='submit']").attr("disabled", "disabled");
          //$("input[name='submit']").css("background", "#7da7d8");
        }
      });
      
      $("select").change(function(){
        var code = $("input[name='code']").val();
        
        while(code.indexOf("_")+1){
          code=code.replace("_", "");
        }
        while(code.indexOf("-")+1){
          code=code.replace("-", "");
        }
        if($("input[name='surname']").val() &&
          $("input[name='name']").val() &&
          //$("input[name='patronymic']").val() &&
          ( ( code && code.length == 12) ||  $("input[name='doc_number']").val()) &&
          parseInt($("select[name='region']").val()) //&&
          //$("input[name='captcha_value']").val() && $("input[name='captcha_value']").val().length == 5
          ){
          
          //alert(code.length);
          //$("input[name='submit']").removeAttr("disabled");
          //$("input[name='submit']").css("background", "#0071bb");
        }else{
          //alert(2);
          //$('#QapTcha').empty();
          //$('#QapTcha').QapTcha();
          //$("input[name='submit']").attr("disabled", "disabled");
          //$("input[name='submit']").css("background", "#7da7d8");
        }
      });
      
      $('input.error').keyup(function(){
        var val = $(this).val();
          val = val.replace(new RegExp("-",'g'), "");
          val = val.replace(new RegExp("_",'g'), "");
        if(val){
          $(this).removeClass('error');
        }
      });
      $('input.error').focus(function(){
        var val = $(this).val();
          val = val.replace(new RegExp("-",'g'), "");
          val = val.replace(new RegExp("_",'g'), "");
        if(val){
          $(this).removeClass('error');
        }
      });
      /*$('input.error').blur(function(){
        var val = $(this).val();
          val = val.replace(new RegExp("-",'g'), "");
          val = val.replace(new RegExp("_",'g'), "");
        if(val){
          $(this).removeClass('error');
        }
      });*/
      $('select.error').change(function(){
        $(this).removeClass('error');
      });
      
      $("#login_code").keyup(function(){
        //alert(parseInt($(this).val()));
        var val = $(this).val();
          val = val.replace(new RegExp("-",'g'), "");
          val = val.replace(new RegExp("_",'g'), "");
          //alert(val);
          val = parseInt(val);
        if(val && !isNaN(val)){
          $(this).removeClass('error');
          $("#login_doc_number").removeClass('error');
          $("#login_doc_number").val("");
          $("#login_doc_number").attr("readonly", "readonly");
          $("#login_doc_number").attr("disabled", "disabled");
          $("#login_doc_number").css("border", "1px solid #b7b8ba");
          $("#login_doc_number").css("background", "#d7d8d8");
        }else{
          $("#login_doc_number").removeAttr("readonly");
          $("#login_doc_number").removeAttr("disabled");
          $("#login_doc_number").css("border", "1px solid #c7c8ca");
          $("#login_doc_number").css("background", "#f7f8f8");
        }
      });
      $("#login_code").blur(function(){
        //alert(parseInt($(this).val()));
        var val = $(this).val();
          val = val.replace(new RegExp("-",'g'), "");
          val = val.replace(new RegExp("_",'g'), "");
          val = parseInt(val);
        if(val && !isNaN(val)){
          $("#login_doc_number").val("");
          $("#login_doc_number").attr("readonly", "readonly");
          $("#login_doc_number").attr("disabled", "disabled");
          $("#login_doc_number").css("border", "1px solid #b7b8ba");
          $("#login_doc_number").css("background", "#d7d8d8");
        }else{
          $(this).val("");
          $("#login_doc_number").removeAttr("readonly");
          $("#login_doc_number").removeAttr("disabled");
          $("#login_doc_number").css("border", "1px solid #c7c8ca");
          $("#login_doc_number").css("background", "#f7f8f8");
        }
      });
      
      $("#login_doc_number").keyup(function(){
        //alert(parseInt($(this).val()));
        var val = $(this).val();
          val = val.replace(new RegExp("-",'g'), "");
          val = val.replace(new RegExp("_",'g'), "");
          val = parseInt(val);
        if(val && !isNaN(val)){
          $(this).removeClass('error');
          $("#login_code").removeClass('error');
          $("#login_code").val("");
          $("#login_code").attr("readonly", "readonly");
          $("#login_code").attr("disabled", "disabled");
          $("#login_code").css("border", "1px solid #b7b8ba");
          $("#login_code").css("background", "#d7d8d8");
        }else{
          $("#login_code").removeAttr("readonly");
          $("#login_code").removeAttr("disabled");
          $("#login_code").css("border", "1px solid #c7c8ca");
          $("#login_code").css("background", "#f7f8f8");
        }
      });
      $("#login_doc_number").blur(function(){
        //alert(parseInt($(this).val()));
        var val = $(this).val();
          val = val.replace(new RegExp("-",'g'), "");
          val = val.replace(new RegExp("_",'g'), "");
          val = parseInt(val);
        if(val && !isNaN(val)){
          $("#login_code").val("");
          $("#login_code").attr("readonly", "readonly");
          $("#login_code").attr("disabled", "disabled");
          $("#login_code").css("border", "1px solid #b7b8ba");
          $("#login_code").css("background", "#d7d8d8");
        }else{
          $(this).val("");
          $("#login_code").removeAttr("readonly");
          $("#login_code").removeAttr("disabled");
          $("#login_code").css("border", "1px solid #c7c8ca");
          $("#login_code").css("background", "#f7f8f8");
        }
      });
      $("#login_code").blur();
      $("#login_doc_number").blur();
      //if(!$("#login_code").is(":disabled")){
        //$("#login_code").focus();
      //}

      $('#get_code').click(function(){
        $.post('index.php', {
            action: 'get_new_code',
            f: $('#get_code_id input[name="surname"]').val(),
            i: $('#get_code_id input[name="name"]').val(),
            o: $('#get_code_id input[name="patronymic"]').val(),
            r: $('#get_code_id select[name="region"]').val(),
            code: $('#get_code_id input[name="code"]').val().replace(/\-/g, '')
          }, function(data){
          $('#new_code_m').show()
          $('#new_code').html(data);
          $.colorbox.resize();
        });
        return false;
      });

      $('form[name="login"]').submit(function(){

        var obj = $('form[name="login"] input[name="code"]');
        obj.unmask();
        obj.val(obj.val().replace(/\-/g, ''));
      });

      /*if(document.location.host=="ege.edu.ru")
      {
        $('#show_div1').show();
      }
      else if(document.location.host=="test-ege.ru")
      {
        $('#show_div2').show();
      }
      else
      {
      */  $('#show_div2').show();
      //}

       jQuery(".avote16").colorbox({
        inline:true,
        onComplete: function(){
          $('#get_code_id input[name="surname"]').val( $('form[name="login"] input[name="surname"]').val() );
          $('#get_code_id input[name="name"]').val( $('form[name="login"] input[name="name"]').val() );
          $('#get_code_id input[name="patronymic"]').val( $('form[name="login"] input[name="patronymic"]').val() );
          $('#get_code_id input[name="code"]').focus();
          $('#get_code_id select[name="region"]').val( $('form[name="login"] select[name="region"]').val() ).change();
        }
       });
    });

  </script>

<div class="hiddenvote16">
  <div id="divvote16">
    <div class="check_res16">
      <div class="label16">Получение кода регистрации</div>
      <div class="borderkod16">
        <form name="get_code_form" id="get_code_id">
          <table class="check_res">
            <tr>
            <td class="check_left">Фамилия:</td>
            <td class="check_right">
              <input name='surname' type='text' value='' >
            </td>
            </tr>
            <tr>
            <td class="check_left">Имя:</td>
            <td class="check_right">
              <input name='name' type='text' value=''>
            </td>
            </tr>
            <tr>
            <td class="check_left">Отчество:</td>
            <td class="check_right">
              <input name='patronymic' type='text' value=''>
            </td>
            </tr>
            <tr>
            <td class="check_left">Код:</td>
            <td class="check_right">
              <input name='code' type='text' value=''>
            </td>
            </tr>
            <tr>
            <td class="check_left">Регион:</td>
            <td class="check_right">
              
              <select name="region">
                                                    <option value="0" selected>Выберите регион</option>
                                                </select>
            </td>
            </tr>
          </table>
          <div class="getkod16">
            
            <input id="get_code" class="new_st_kn" type="submit" value='получить код регистрации'  src="/common/img/get_kod_16.png">
          </div>
        </form>
        <div class="txt_kod16" id="new_code_m" style="display: none;">
          <span class="txt16_1">Ваш код регистрации: </span>
          <span class="txt16_2" id="new_code"></span>
        </div>
        <div class="txt_dang">Запомните ваш код регистрации. Он необходим для подачи (и подтверждения) апелляции в электронной форме</div>
      </div>
    </div>
  </div>
</div>


<span id="rbccontents_ee_block.1619.CONTENT_TEXT.21.910"></span>

<style>
.second_cont_tbl_1 {display:none}
.second_cont_tbl_2 {padding-bottom:20px;}
</style>
 </div></td>
    </tr>
  </table>
  
  <div class="cont_bottom"></div>
</div>

<div id="footer"> <span id="rbccontents_ee_block.1646.CONTENT_TEXT.75.931"></span>

<div class="fot_line"></div>
<div class="div1">© 2001-2014 Федеральная служба по надзору в сфере образования и науки<br>
  При использовании материалов портала ЕГЭ на внешних Интернет-ресурсах 
  ссылка на <a href="http://www.ege.edu.ru/">первоисточник</a> обязательна
</div>




<div class="rambler_top" style="display:none;">

<!-- begin of Top100 code -->

<script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2679311"></script>
<noscript>
<a href="http://top100.rambler.ru/navi/2679311/">
<img src="http://counter.rambler.ru/top100.cnt?2679311" alt="Rambler's Top100" border="0" />
</a>

</noscript>
<!-- end of Top100 code -->
</div>




  <div class="div_right">
<!--
    <div class="link_web" style="border:none"><a href="mailto:esafronov@i-kompas.ru">Веб-мастер</a></div>
-->
<!-- // при удаление комментарий убрать у Веб-мастер style="border:none"
    <div class="link_mapsit"><a href="http://osoko.ru/ru/portal_map/">Карта порталов</a></div>
-->

<!--
    <div class="link_stat"><a href="#" class="in_progress">Статистика</a></div>
-->
  </div>


<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter12242530 = new Ya.Metrika({id:12242530, enableAll: true, webvisor:true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/12242530" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28842015-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</div>
</body>
</html>
